@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Password Reset</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div id="dvLoginWrapper" style="position:absolute;left:0px;right:0px;top:0px;bottom:0px;margin:auto;height:500px;width:400px;">
        <div id="dvLogin" style="position:absolute;left:0px;right:0px;top:0px;bottom:0px;margin:auto;height:300px;width:90%;">
            <form method="post" @Url.Action("ForgetPass", "Auth")>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Reset Password</h5>
                        <div class="mb-3">
                            <label for="exampleFormControlUserName" class="form-label">User Name</label>
                            <input type="text" name="txtUserNm" class="form-control" id="exampleFormControlUserName" placeholder="User Name">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlPassword" class="form-label">New Password</label>
                            <input type="password" name="txtNewPassword" class="form-control" id="exampleFormControlPassword" placeholder="New Password">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlPassword" class="form-label">Confirm Password</label>
                            <input type="password" name="txtConfirmPassword" class="form-control" id="exampleFormControlPassword" placeholder=" Confirm Password">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Reset" />
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
